extends layout
block content
	if user
		div.hero-unit
			h1 Welcome to Microblog
			p
				div
					a.btn.btn-primary.btn-large(href="/login") login
				div
					a.btn.btn-large(href="/reg") register now
	else
		include say
	//	include posts

