extends layout
block content
form.form-horizontal(method='post')
	fieldset
		legend login
		div.control-group
			label.control-label(for='username') username
			div.controls
				input.input-xlarge(type='text',id='username,name='username')
		div.control-group
			label.control-label(for='password') password
			div.controls
				input.input-xlarge(type='text',id='password,name='password')
		div.form-actions
			button.btn.btn-primary(type='submit') login
